*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  .main {
    position: absolute;

    &.turning {
        animation: turning 40s normal infinite ease;
    }

    svg {
        // border: 1px solid red;
      stroke: white;
      position: absolute;
      top: 50%;
      left: 50%;

      mix-blend-mode: difference;
      
      transition: stroke 0.5s ease-in-out, transform 0.2s ease-in-out;
      
      @for $i from 1 through 10 {
          
          &:nth-child(#{$i}) {
              transform: translate(-50%, -50%) rotate($i * 36deg);
            }
        }
        
        &.align-triangles {
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    transform: translate(-45%, -65%) rotate(60deg);
                }
            }
            
        }
        &.darken {
            stroke: black;
        }
        
        &.removed {
          z-index: 5;
          stroke: white;
      }
    }
  }

  #dot {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 1.5s 1000ms ease-in-out, height 1.5s 1000ms ease-in-out;

    z-index: -1;

    cursor: pointer;

    &.bigger {
      width: 200vh;
      height: 200vh;
    }

    &.hovered {
      transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
      width: 50px;
      height: 50px;
      z-index: 2;

      &:hover {
        width: 100px;
        height: 100px;
      }
    }
  }
}

#second-element {
    width: 600px;
    height: 600px;

    border-radius: 50%;

    z-index: 2;

    position: absolute;
    left: 50%;
    bottom: -100px;

    transform: translateX(-50%);

    background-color: blue;
}

@keyframes turning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
